<p><a href="#/">Back to Serach</a></p>
Forecast for City : {{cityName}}
<hr/>

Days : <a href="#/forecast/2" ng-class="{'bg-primary': numOfDays == '2'}">2</a> | <a href="#/forecast/3" ng-class="{'bg-primary': numOfDays == '3'}">3</a> | <a href="#/forecast/4" ng-class="{'bg-primary': numOfDays == '4'}">4</a>

<hr/>

<div ng-repeat='forecastResult in forecastResultList track by $index'>
    <div class="row" ng-if='forecastResult.city == cityName && $index <= numOfDays-1'>
        <div class="col-md-12">
            <forecast-result forecast-data='forecastResult'></forecast-result>
        </div>
    </div>
</div>